*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

.container{
	min-width: 1280px;
	width: 100%;
}

.navbar{
	width: 90%;
	margin: 10px auto;
	background: #fff;

}


.navbar-brand{
	display: inline-block;
	/*padding: 7px;*/
}

.navbar img{
	vertical-align:middle;
}



.navbar-brand a{
	font-size: 21px;
	font-family: "SimHei";
	color: rgb(57, 58, 58);
	vertical-align:middle;
	cursor: pointer;
}


.navbar-f1{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 1.929;
}

.navbar-tab{
	position: relative;
	left: 55%;
	display: inline-block;
	vertical-align: middle;
}

.navbar li{
	float: left;
	padding:10px;
	color: rgb(57, 58, 58);
	cursor: pointer;

	
}

.navbar li:hover{
	color: rgb(231, 79, 77);
}

.login{
	position: relative;
	left: 60%;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
}

.move{
	width: 0;
	border-bottom: 2px solid red;
	transition: width 0.4s ease-in-out;
}

.navbar-tab li:hover .move{
	width:100%;
}

.login:hover .move{
	width:100%;
}

.banner{
	width: 100%;
	height: 650px;
	overflow: hidden;
}

.banner-content img{
	width: 100%;
	
}

.banner-text {
	position: absolute;
	top:270px;
	left:120px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
}

.banner-title{
	font-size: 60px;
	line-height: 0.45;
}

.banner-subtitile {
  position: relative;
  left: 0px;
  top: 40px;
  font-size: 21px;
  font-family: "Microsoft YaHei";
  color: rgb(255, 253, 253);
  line-height: 1.562;
  
}

.banner-start{
	position: relative;
	left: 0px;
	top:80px;
}

.banner-start a{
	color: rgb(255, 255, 255);
}

.banner-start button{
	width: 331px;
  	height: 65px;
	font-size: 30px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
	background-color: rgb(231, 79, 77);
	border: none;
	outline: none;
}

.advantage{
	width: 100%;
	margin-top: 80px;
}

.advantage ul:first-child li{
	float: left;
	width: 25%;
	text-align: center;
	/*vertical-align: middle;*/
}

.advantage ul:first-child{
	display: block;
}


.advantage ul:last-child li{
	float: left;
	width: 25%;
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "SimHei";
	color: rgb(118, 119, 119);
	line-height: 1.286;
	box-sizing: border-box;
	border-right: 1px solid rgb(118, 119, 119);
}

.advantage ul:last-child li:last-child{
	border-right: none;
}

.clear{
	clear: both;
}

.question{
	width: 100%;
	background-color: #EDEAEA;
}

.question span{
	padding-bottom: 80px;
	font-size: 53.586px;
  	font-family: "SimHei";
  	color: rgba(50, 51, 51, 0.502);
  	line-height: 1.056;
 	text-align: center;	
 	display: block;
}

.question-brand{
	margin-top: 80px;
	padding-top: 80px;
	padding-bottom: 60px;
	display: block;
	text-align: center;
}

.


.test span{
	position: relative;
	margin-top: 300px;
	margin-left:100px ;
	font-size: 21px;
  	font-family: "Microsoft YaHei";
  	color: rgb(255, 255, 255);
  	line-height: 1.994;
  	text-align: center;
}

.search{
	background: url(img/map.jpg);
	background-size:cover;
	height: 350px;
	width: 100%;
	text-align: center;
}

.search-title{
	padding-top: 40px;
	font-size: 22px;
  	font-family: "Microsoft YaHei";
  	color: rgba(255, 255, 255, 0.8);
  	line-height: 2.605;

}

	
.search-line{
	width: 30px;
	height: 20px;
	margin-bottom: 0px;
	display: inline-block;
	border-top: 2px solid #fff;
	transition: width 1.5s;
	-moz-transition:width 1.5s; /* Firefox 4 */
	-webkit-transition:width 1.5s; /* Safari and Chrome */
	-o-transition:width 1.5s; /* Opera */
}

.search-line:hover{
	width: 250px;
	transition: width 1.5s;
	-moz-transition:width 1.5s; /* Firefox 4 */
	-webkit-transition:width 1.5s; /* Safari and Chrome */
	-o-transition:width 1.5s; /* Opera */
}

.search-subtitle{
	margin-top: -10px;
	font-size: 12px;
  	font-family: "Microsoft YaHei";
  	color: rgba(255, 255, 255, 0.8);
  	line-height: 2.605;
  
}

.search-form{
	position: relative;
	margin-top: 70px;
	
}

.search-box{
	width: 240px;
	height: 36px;
	margin: 0 10px;
	display: inline-block;
	background: url(img/select.png) no-repeat  #fff;
	background-position:96% 50% ;
}

.search-btn{
	width: 240px;
	height: 36px;
	background: #BE4F48;
	color: #fff;
	line-height: 36px;
	border: none;
	outline: none;
	cursor: pointer;
}

option{
	width: 236px;
	height: 32px;
	padding-left: 20px;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	color: rgba(50, 51, 51, 0.702);
	background:#EDEAEA;
}



select{
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
    outline: none;
    color: #B3B3B3;
    padding-left: 10px;
}

select:focus{
	border: 2px solid #BE4F48;
	border-bottom: none;
}

option:checked{
	
	outline: none;
	border: 2px solid #BE4F48;
}

.activity{
	width: 100%;
	height: 500px;
	background: #EDEAEA;
}

.activity-content{
	display: block;
	margin: 0 10%;
}

.activity-box{
	display: inline-block;
	padding: 50px 25px;
	width: 210px;
	height: 350px;
	
}

.activity-box img{
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
}

.activity-title{
	text-align: center;
}

.activity span:first-child{
	display: block;
	margin-top: 10px;
	font-size: 14px;
	color: #44403F;

}

.activity span:nth-child(2){
	margin-top: 5px;
	font-size: 12px;
	color: #B3AFAC;
}

.activity-box:nth-child(2)>.activity-title{
	margin-bottom: 10px;
}

.activity-box:nth-child(2) span:first-child{
	font-size: 24px;
	text-align: right;
	text-indent: 10px;
	letter-spacing: 23px;
}

.more{
	width: 100%;
	
}

.more-col:first-child{
	display: inline-block;
	width: 68%;
	height: 560px;
	/*background: url(img/banner3.jpg) no-repeat cover;*/
}

.more-col{
	display: inline-block;
	height: 560px;
	width: 33%;
	background: yellow;
}

.more-col img{
	width: 100%;
	height: 560px;
}
