.content{
	width: 400px;
	height: 200px;
	background-color: #ccc;
	margin: 50% auto;
	overflow: hidden;
}

.left_up{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color:#fc0;
	margin: -50px -50px;
	
}

.right_down{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color:#fc0;
	margin:150px 350px ;
}
